# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.lock

# IDE
.idea/
.vscode/
*.iml

# Env files
.env
.env.development
.env.production

# Local files
*.mp3
*.m4a
*.wav
/downloads/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig

# Android
android/.gradle/
android/local.properties
